body{
    padding-top: 50px;
    font-family: 'Jura', sans-serif;

}
h1{
    font-size:4em;
    background-color: #007bff;
    color: #fff;
}

#levelContent{
    text-align: center;
}
#result{
    font-size: 2em;
    text-align: center;
}
.is-hide{
    display: none;
}
.is-show{
    display: block;
}
.btn,.btn-lg{
    border-radius: 0.1rem;
}

.up{
    background-color: #8e071d;
    color: #fff;
}
.down{
    background-color: #7bb7da;
    color: #222;
}
.goal{
    background-color: #095d23;
    color: #fff;
}