body{
    padding-bottom: 50px;
}
#form{
    display: none;
}
#levelContent{
    text-align: center;
}
#result{
    font-size: 2em;
    text-align: center;
}
.is-hide{
    display: none;
}
.is-show{
    display: block;
}